<a href="https://colab.research.google.com/github/TabethaMcRee/TabethaMcRee_DTSC3020_Fall2025/blob/main/Assignment4_(ch_6).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#DTSC 3020 – Assignment 4
Chapter 6 – Dictionaries

Total points: 4

Deadline: Friday at midnight

Submission: Upload your Python file to your GitHub repository and submit only your GitHub link.


Expectations
Write complete answers and run all cells before submission.
Keep the notebook clean (no unnecessary code).

Exercise  1: Find and print the student with the lowest grade.

In [5]:
grades = {
    'Ali': 17,
    'Sara': 19,
    'Reza': 18.5,
    'Lina': 20,
    'Omid': 16
}

# Write your code here:

lowest_grade = min(grades.values())
for name, grade in grades.items():
    if grade == lowest_grade:
        print(name)

Omid

Exercise 2: print names of students who registered for any course containing "Data"

In [6]:
courses = {
    'Ali': ['Python', 'Math'],
    'Sara': ['Data Mining', 'Chemistry'],
    'Reza': ['Machine Learning', 'Data Science'],
    'Lina': ['English', 'History']
}

# Write your code here:
course='Data'
for name, course_list in courses.items():
    for course_name in course_list:
        if course in course_name:
            print(name)

Sara
Reza

Exercise 3: Print titles of books that are not available.

In [7]:
library = {
    'Python101': {'pages': 180, 'available': True},
    'AI Basics': {'pages': 130, 'available': False},
    'Math Advanced': {'pages': 200, 'available': False},
    'Statistics': {'pages': 175, 'available': True}
}

# Write your code here:

book_titles = []
for title, book_info in library.items():
    if not book_info['available']:
        book_titles.append(title)

print(book_titles)

['AI Basics', 'Math Advanced']

Exercise 4: Print names of students who are registered for more than 2 courses.

In [8]:

registrations = {
    'Ali': ['Python', 'Math'],
    'Sara': ['Biology', 'Chemistry', 'Math'],
    'Reza': ['English'],
    'Lina': ['History', 'Physics', 'Geography', 'Art']
}

# Write your code here:
courses = []
for name, course_list in registrations.items():
    if len(course_list) > 2:
        courses.append(name)

print(courses)

['Sara', 'Lina']

Exercise 5: Calculate and print the average grade of the class.

In [9]:
grades = {
    'Ali': 17,
    'Sara': 19,
    'Reza': 18.5,
    'Lina': 20,
    'Omid': 16
}

# Write your code here:

average_grade = sum(grades.values()) / len(grades)
print(average_grade)

18.1

Exercise 6: Count and print the number of students registered for "Python".

In [10]:
courses = {
    'Ali': ['Python', 'Math'],
    'Sara': ['Biology', 'Chemistry'],
    'Reza': ['Python', 'AI'],
    'Lina': ['English', 'History'],
    'Omid': ['Python']
}

# Write your code here:

count = 0
for course_list in courses.values():
    if 'Python' in course_list:
        count += 1

print(count)

3

Exercise 7: Print titles of books with more than 200 pages.

In [11]:
book_pages = {
    'Python101': 180,
    'AI Basics': 230,
    'Math Advanced': 250,
    'Statistics': 190,
    'Data Science': 300
}


# write your answer here

books = []
for title, pages in book_pages.items():
    if pages > 200:
        books.append(title)

print(books)

['AI Basics', 'Math Advanced', 'Data Science']

Exercise 8: Print each student's name and number of registered courses.

In [13]:
courses = {
    'Ali': ['Python', 'Math'],
    'Sara': ['Biology', 'Chemistry'],
    'Reza': ['Python', 'AI'],
    'Lina': ['English', 'History'],
    'Omid': ['Python']
}

# Write your code here:
for name, course_list in courses.items():
    print(name, len(course_list))

Ali 2
Sara 2
Reza 2
Lina 2
Omid 1

Exercise 9: Find and print the book with the most pages.

In [14]:
book_pages = {
    'Python101': 180,
    'AI Basics': 230,
    'Math Advanced': 250,
    'Statistics': 190,
    'Data Science': 300
}

# Write your code here:
max_pages = max(book_pages.values())
for title, pages in book_pages.items():
    if pages == max_pages:
        print(title)

Data Science