<a href="https://colab.research.google.com/github/TabethaMcRee/TabethaMcRee_DTSC3020_Fall2025/blob/main/n_class_exercise_02.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
fruits = ["apple" , "banana" , "orange"]
print(fruits)
for fruit in fruits:
    print(fruit)

['apple', 'banana', 'orange']
apple
banana
orange

In [ ]:
names = ["Amanda" , "Cecil" , "Bob" , "Sara"]
print(names)

['Amanda', 'Cecil', 'Bob', 'Sara']

In [ ]:
names[0] = "Alex"
print(names)

['Alex', 'Cecil', 'Bob', 'Sara']

In [ ]:
vehicles = ["car" , "truck" , "motorcycle" , "bicycle"]
print(vehicles)

['car', 'truck', 'motorcycle', 'bicycle']

In [ ]:
vehicles.append("boat")
print(vehicles)

['car', 'truck', 'motorcycle', 'bicycle', 'boat']

In [ ]:
foods = ["pizza" , "sushi" , "tacos" , "burgers" , "fried chicken" , "rice"]
print(foods)

['pizza', 'sushi', 'tacos', 'burgers', 'fried chicken', 'rice']

In [ ]:
foods.remove("rice")
print(foods)

['pizza', 'sushi', 'tacos', 'burgers', 'fried chicken']

In [ ]:
cities = ["Dallas" , "Plano" , "Fort Worth" , "Denton"]
print(cities)

['Dallas', 'Plano', 'Fort Worth', 'Denton']

In [ ]:
cities.reverse()
print(cities)

['Denton', 'Fort Worth', 'Plano', 'Dallas']

In [ ]:
animals = ["dog", "cat", "bird"]
print(animals)

['dog', 'cat', 'bird']

In [ ]:
for animal in animals:
    print(animal)

dog
cat
bird

In [ ]:
numbers = [1, 2, 3, 4, 5]
print(numbers)

[1, 2, 3, 4, 5]

In [ ]:
for number in numbers:
    print(number*2)

2
4
6
8
10

In [ ]:
Friends = ["Joey", "Chandler", "Ross", "Monica", "Rachel", "Pheobe"]
print(Friends)
print(Friends[0:3])
print(Friends[3:6])

['Joey', 'Chandler', 'Ross', 'Monica', 'Rachel', 'Pheobe']
['Joey', 'Chandler', 'Ross']
['Monica', 'Rachel', 'Pheobe']

In [ ]:
numbers = list(range(1, 11))
print(numbers)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [ ]:
squares = [value**2 for value in range(1, 5)]
print(squares)

[1, 4, 9, 16]